@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar {
    height: 100vh;
    padding: 24px;
    width: 400px;
}

.right {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
}

.left {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    line-height: 1.75em;
}

.sidebar-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sidebar-title {
    /* Some style here... */

    font-weight: 500;
}

#close-tips-sidebar-button {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 4px;
}

#character-creation-tips-sidebar {
    display: none;
}

.button, input, select, textarea {
    font-size: 16px;
}

.button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 8px 9px 10px 9px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: background-color 150ms, color 150ms;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: black;
    color: white;
}

.button:disabled {
    background-color: #9c9c9c;
    color: white;
    border: 1px solid #9c9c9c;
    cursor: not-allowed;
    box-shadow: none;
}

.button-row {
    display: flex;
    gap: 12px;
}

.danger {
    background-color: #dd1c1c;
    color: white;
    border: 1px solid #dd1c1c;
    transition: background-color 150ms, border 150ms;
}

.danger:hover {
    background-color: #a31010;
    border: 1px solid #a31010;
}

input, select, textarea {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 6px 7px 8px 7px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid #505050;
    background-color: white;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    max-width: 1200px;

    margin: 15px;
    padding: 15px;
    background-color: #e4dfcf;
    border: 1px solid #9b916f;
    border-radius: 5px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}

.form-title {
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    color: #333333;
    margin-bottom: 12px;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.form-side-notes {
    height: 100%;
    flex-grow: 1;
}

.note-box {
    display: none;
    flex-direction: column;
    gap: 3px;
    border: 1px solid #cccccc;
    background-color: #ffffffd0;
    border-radius: 4px;
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    color: #333333;
}

.note-box > .title, .note-box > .note-box-text {
    word-wrap: break-word;
}

.note-box > .title {
    font-size: 16px;
    font-weight: 600;
}

#create-character-form {
    display: none;
}