@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.character-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.app-title-description {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sidebar {
    height: 100vh;
    padding: 24px;
    width: 400px;
}

.right {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
}

.left {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    line-height: 1.75em;
}

.sidebar-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sidebar-title {
    font-weight: 500;
}

#character-creation-tips-sidebar {
    display: none;
}

#show-tips-button {
    display: none;
}

@media screen and (max-width: 1000px) {
    #show-tips-button {
        display: block;
    }

    .sidebar {

        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .right,
    .left {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: fit-content;

        left: 10vw;
        right: 10vw;
        top: 50px;
    }
}

.button,
input,
select,
textarea {
    font-size: 16px;
}

.button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 8px 9px 10px 9px;
    width: fit-content;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 150ms;

    text-transform: capitalize;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #292929;
}

.button:disabled {
    background-color: #9c9c9c;
    color: white;
    border: 1px solid #9c9c9c;
    cursor: not-allowed;
    box-shadow: none;
}

.button-row {
    display: flex;
    gap: 12px;
    width: 100%;
}

.character-form > .button-row {
    justify-content: flex-end;
    padding-top: 25px;
    border-top: 1px solid #cccccc;
}

.danger {
    background-color: #dd1c1c;
    color: white;
    border: none;
    transition: background-color 150ms;
}

.danger:hover {
    background-color: #a31010;
}

input,
select,
textarea {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 6px 7px 8px 7px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid #505050;
    background-color: white;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form,
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
    max-width: 1200px;

    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

#create-character-form {
    background-color: #e1e1e1;
    border: 1px solid #949494;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: -5px;
}

.form-title {
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    color: #333333;
    margin-bottom: 12px;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.form-side-notes {
    height: 100%;
}

.note-box {
    display: none;
    flex-direction: column;
    gap: 3px;
    border: 1px solid #cccccc;
    background-color: #ffffffd0;
    border-radius: 4px;
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    color: #333333;
}

.note-box>.title,
.note-box>.note-box-text {
    word-wrap: break-word;
}

.note-box>.title {
    font-size: 16px;
    font-weight: 600;
}

.note-box-text {
    font-size: 14px;
    color: #333333;
}

#create-character-form {
    display: none;
}

.close-button {
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.alert-box {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px 50px 15px 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.alert-box > #close-alert-box-button {
    position: absolute;
    top: 10px;
    right: 10px;
    content: 'X';
}